<header>
    <nav>
        <a href="/">BuildTest</a>
        <ul>
            <il><a href='/authors'>Authors</a></il>
            <il><a href='/authors/new'>New Author</a></il>
        </ul>
    </nav>
</header>